body {
    display: flex;
    background-image:url(pic/th.jpg) ;
    color: white;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.kkkttt{
    color: red;
    background-color: blanchedalmond;
}
#friend,#keera ,#babkr,#ahmed,#satla ,#mohap,#ragd {
    background-color: #800080;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}
h1, h2 {
    text-align: center;
}
#satla{
    background-color: #0000ff;
}
#ragd{
    background-color: #800080;
}
.p{
    text-align: center;
    
}
